body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Iconsolata", sans-serif;
  color: #2c2c54;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation {
 position: fixed;
 padding: 20px;
 width: 100%;
 top: 0;
 left: 0;
}

.navigation p {
  padding: 0;
  margin: 0;
  color: #f4c10f;
  font-size: 24px;
  font-family: 'Georgia', serif;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

.navigation ul li {
  display: inline-block;
  position: relative;
  margin-right: 36px;
  align-items: right;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  color:  #33d9b2;
}

header {
  height: 100vh;
  position: relative;
  background-image: url('https://i.postimg.cc/28sMsRDK/pexels-mart-production-9565916.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.page-title {
  color: #fff;
  font-size: 60px;
  margin: 48px 0 0;
}

.splash-inner h2 {
  text-transform: uppercase;
  color: white;
  font-size: 35px;
  
}

.btn {
  text-decoration: none;
  padding: 15px;
  background-color: orange;
  border-radius: 2%;
  color: white;
  text-transform: uppercase;
  }

  .services {
    padding: 80px 0;
    text-align: center;
  
    h2 {
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 0;
    }
  
    p {
      color: #777;
      margin-top: 0;
      margin-bottom: 80px;
    }
  
    .img i {
      margin-bottom: 15px;
      color: #f4c10f;
      border: solid 1px #f4c10f;
      border-radius: 50%;
      font-size: 35px; 
      padding: 10px;   }
  
    h3 {
      margin-top: 10px;
      font-size: 18px;
    }
  }

  .text {
    padding: 5px 40px;
  }